@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disk-w {
    @apply w-28 h-28 xs:w-32 xs:h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-52 lg:h-52;
  }
}

body {
  overflow-x: hidden;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(237, 49%, 15%);
  background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
}

.container {
  max-width: 1024px;
}

header {
  max-width: 768px;
}

.circle {
  border-radius: 50%;
  background-color: rgb(229, 231, 235);
  position: absolute;
  opacity: 0;
  animation: scaleIn 6s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  top: 0;
  right: 0;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.3;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.inner-shadow {
  box-shadow: inset 0px 5px 0px rgb(186, 191, 207);
}

.rock {
  background: linear-gradient(0deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 5px hsl(347, 75%, 35%);
}

.paper {
  background: linear-gradient(0deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 5px hsl(229, 64%, 46%);
}

.scissors {
  background: linear-gradient(0deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 5px hsl(28, 77%, 44%);
}
